{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * zip-to-geolocation plugin for Craft CMS 3.x
 *
 * zip-to-geolocation Settings.twig
 *
 * @author    Click Rain
 * @copyright Copyright (c) 2019 Click Rain
 * @link      https://clickrain.com
 * @package   Ziptogeolocation
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("clickrain\\ziptogeolocation\\assetbundles\\ziptogeolocation\\ZiptogeolocationAsset") %}

{{ forms.textField({
	label: "Google Maps API Key"|t,
	instructions: '<a href="https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key" target="_blank">Get an API key.</a>',
	id: 'browserApiKey',
	name: 'browserApiKey',
	value: settings.browserApiKey,
	type: 'text',
	required: true
}) }}

{{ forms.textField({
	label: "Zip Code Section Handle"|t,
	instructions: 'The handle of the section that will store zip code info (e.g. zipCodes)',
	id: 'sectionHandle',
	name: 'sectionHandle',
	value: settings.sectionHandle,
	type: 'text',
	required: true
}) }}
